# Default ignored files
/../../1004. Max Consecutive Ones III /.idea/shelf/
/../../1004. Max Consecutive Ones III /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../1004. Max Consecutive Ones III /.idea/httpRequests/
# Datasource local storage ignored files
/../../1004. Max Consecutive Ones III /.idea/dataSources/
/../../1004. Max Consecutive Ones III /.idea/dataSources.local.xml
